{% extends 'greeter/base.html'%}

{% load static %} <!-- New line -->

{% block body_block%}
<div class="hero-unit">
    {% if suggestions %}
    <ul>
        <table style="width:100%">
          <tr>
            <th>ID</th>
            <th>Greeter</th>
            <th>Subject</th>
            <th>Description</th>
            <th>Completed?</th>
          </tr>
        {% for suggestion in suggestions %}
            <tr>
                <td><a href="/greeter/postSuggestion/{{suggestion.pk}}/">{{suggestion.pk}} </td>
                <td>{{suggestion.greeterID}}</td>
                <td>{{suggestion.subject}} </td>
                <td>{{suggestion.description}} </td>
                <td><a href="/greeter/viewSuggestions/markComplete/{{suggestion.pk}}/">{{suggestion.flag}} </td>
            </tr>
        {% endfor %}
        </table>
    </ul>
    {% else %}
        <strong>No suggestion in current view.</strong>
    {% endif %}

<a href="/greeter/">Home</a><br />
</div>

{% endblock%}

